node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
apps/server/tmp/
apps/server/public/
apps/web/dist/
packages/adb-core/dist/
apps/server/dist/
release/
.cache/
data/
apps/server/data/
apps/server/data-mock/
*.apk
screenshots/
uploads/
.vite/
data-mock/